.messageItem {
	display: grid;

	width: fit-content;
	max-width: 80%;
	padding: 12px 14px 10px 14px;

	border-radius: 10px 10px 10px 0;
	background: var(--lighter);
	gap: 10px;
	justify-self: left;

	@media screen and (min-width: 580px) {
		width: 60%;
	}

	@media screen and (min-width: 1024px) {
		width: 40%;
	}

	.message,
	.date {
		word-break: break-word;
	}

	.message {
		font-size: medium;
		font-weight: 600;
		color: var(--dark);
	}

	.date {
		font-size: small;
		font-weight: 400;
		color: var(--light2);
	}
}

.myMessage {
	justify-self: right;
	background: var(--primary);
	border-radius: 10px 10px 0 10px;

	.message {
		color: var(--light);
	}
}
