.messageItem {
	display: grid;

	width: fit-content;
	max-width: 30%;
	padding: 5px 10px;

	border-radius: 10px;
	background: var(--light);
	gap: 10px;
	justify-self: left;
}

.myMessage {
	justify-self: right;

	background: var(--primary);
}

.user {
	color: var(--primary);
}

.user,
.message {
	font-weight: 600;
}

.myMessage > .user {
	color: var(--white);
}
