.header {
    width: calc(100% - 40px);
    height: 60px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-items: right;
    border-bottom: 1px solid var(--light);
    padding: 0 20px;
    gap: 16px;
}

.headerNotMe {
    grid-template-columns: auto 1fr auto;
}

.headerDiv {
    display: grid;
    grid-template-columns: auto;
    justify-items: right;
    gap: 2px;
}

.button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.username {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    display: block;
    font-weight: 600;
}