.input {
	position: fixed;
	bottom: 20px;

	width: calc(90% - 30px);
	height: fit-content;
	padding: 10px 15px;

	cursor: text;

	transition-duration: 300ms;

	color: var(--light);
	border: 2px solid var(--light);
	border-radius: 9999px;
	outline: none;
	background: var(--white);

	font-size: medium;
	font-weight: 500;
}

.input::placeholder {
	color: var(--darkLight);
}

.input::-ms-input-placeholder {
	color: var(--darkLight);
}

.input:active,
.input:hover,
.input:focus {
	border-color: var(--primary);
	color: var(--primary);
}

.error_input,
.error_input:hover,
.error_input:focus {
	border-color: var(--error);
}
