.messagesList {
	display: grid;
	grid-template-columns: auto;
	width: 90%;
	height: calc(100vh - 160px);
	margin: 10px 0 80px 0;
	gap: 15px;
	overflow-y: auto;
}

::-webkit-scrollbar {
	display: none;
}

.noMessages {
	font-size: large;
	font-weight: 600;
	margin-top: 20px !important;
}
