.lang {
	width: fit-content;

	cursor: pointer;
	transition-duration: 300ms;

	color: var(--darkLight);
}

.lang:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--primary);
}

@media (min-width: 1024px) {
	.lang:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--primary);
	}
}
