.chatItem {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: left;
    align-items: center;
    gap: 16px;
    background: var(--lighter);
    border-radius: 16px;
    cursor: pointer;
    padding: 10px 20px;
}

.username {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    display: block;
    font-size: medium;
    font-weight: 600;
    color: var(--primary);
}
